# Configuración local del editor
.vscode/
.idea/

# Archivos temporales de Python
__pycache__/
*.py[cod]
.venv/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs locales
*.log

# Variables locales
.env
.env.*
!.env.example

# Archivos temporales de Microsoft Office
~$*

# Archivos de Windows
Desktop.ini